# Build directories
/build*
/cmake-build*

# Thirdparty
/thirdparty/llvm-project

# IDE files
/.idea
*.kdev4
/.clangd
/.cache
*.swp
*.kate-swp
/CMakeLists.txt.user

# valgrind
/*.grind

# gource
/gource.mp4

# misc
/lightship-source

